.mmPaginator {
    margin: 5px 0;
    white-space: nowrap;
}

.mmPaginator .totalCountLabel{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 5px 0 0;
    padding: 1px 0 0 0;
    line-height: 1.4em;
    vertical-align: top;
}

.mmPaginator .pageNoList{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 5px 0 0;
    padding: 0;
    list-style: none;
}

.mmPaginator .pageNoList li{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 1px;
    padding: 0 5px;
    background: #fff;
    border: 1px solid #ccc;
    line-height: 1.4em;
    vertical-align: top;

}

.mmPaginator .pageNoList li.active{
    background: none;
    padding-top: 1px;
    border: 0;
}

.mmPaginator .pageNoList li.disable a{
    color: #333;
    cursor: default;
}

.mmPaginator .pageNoList li.disable{
    background: #efefef;
}

.mmPaginator .pageNoList li.disable a{
    color: #333;
    cursor: default;
}

.mmPaginator .pageNoList li a{
    color: #b00;
    text-align: center;
    cursor: pointer;
}

.mmPaginator .pageNoList li a.head{

}

.mmPaginator .pageNoList li a.headDisable{

}

.mmPaginator .pageNoList li a.prev{

}

.mmPaginator .pageNoList li a.prevDisable{

}

.mmPaginator .pageNoList li a.next{

}

.mmPaginator .pageNoList li a.nextDisable{

}

.mmPaginator .pageNoList li a.tail{

}

.mmPaginator .pageNoList li a.tailDisable{

}

.mmPaginator .pageNoList li a.current{

}

.mmPaginator .pageNoList li a.skip{

}

.mmPaginator .pageSize{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 1.4em;
    vertical-align: top;
}

.mmPaginator .pageSize select{
    border: 1px solid #ccc;
    padding: 1px;
    width: auto;
    height: auto;
    margin: 0;
}










