.mmPaginator {
    margin: 5px 0;
    white-space: nowrap;
}

.mmPaginator .totalCountLabel{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 5px 0 0;
    padding: 1px 0 0 0;
    line-height: 1.5;
    vertical-align: top;
}
.mmPaginator .totalCountLabel span{
    color: #b00;
    font-weight: bold;
}

.mmPaginator .pageList{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 5px 0 0;
    padding: 0;
    list-style: none;
}

.mmPaginator .pageList li{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 2px;
    padding: 0 6px;
    background: #fff;
    border: 1px solid #ccc;
    line-height: 1.5;
    vertical-align: top;

}

.mmPaginator .pageList li.active{
    background: none;
    padding-top: 1px;
    border: 0;
}

.mmPaginator .pageList li.disable a{
    color: #333;
    cursor: default;
}

.mmPaginator .pageList li.disable{
    background: #efefef;
}

.mmPaginator .pageList li.disable a{
    color: #333;
    cursor: default;
}

.mmPaginator .pageList li a{
    color: #b00;
    text-align: center;
    cursor: pointer;
}

.mmPaginator .pageList li a.head{

}

.mmPaginator .pageList li a.headDisable{

}

.mmPaginator .pageList li a.prev{

}

.mmPaginator .pageList li a.prevDisable{

}

.mmPaginator .pageList li a.next{

}

.mmPaginator .pageList li a.nextDisable{

}

.mmPaginator .pageList li a.tail{

}

.mmPaginator .pageList li a.tailDisable{

}

.mmPaginator .pageList li a.current{

}

.mmPaginator .pageList li a.skip{

}

.mmPaginator .limit{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 1.5;
    vertical-align: top;
}

.mmPaginator .limit select{
    border: 1px solid #ccc;
    padding: 1px;
    width: auto;
    height: auto;
    margin: 0;
    line-height: 1.5;
    font-size: 1em;
}










